<div class="login-box row collapse">
	<div class="small-12 medium-9 large-7 columns small-centered">
		<div class="row">
	    	<div class="small-11 medium-10 large-9 columns small-centered">
		    	<form method="post" action="/signup">
		         	<h4><i class="fa fa-lock" aria-hidden="true"></i>Node Signup</h4>
		        
			        <div class="username">
			          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
			          <div class="input-wrapper test">

			              <input type="text" placeholder="email" name="email">
			          </div>
			        </div>
		        
		         
		    
			        <div class="password">
			          <i class="fa fa-key fa-2x" aria-hidden="true"></i>
			          <div class="input-wrapper test">

			              <input type="password" placeholder="password" name="password">
			          </div>
			        </div>
			      
		  
			        <div class="submit">
			     
			        	<button class="button">Submit</button>
			          
			        </div>
		    
		 		</form>
	      	</div>
      	</div>
    </div>  
</div>
