.top-bar{
	
}

.settings i{
	margin-right: 8px;
}

.dropdown a:hover{
	text-decoration: underline;
}

.row{
	max-width: 400rem;
}

#chart-container-1, #chart-container-2{
	height: 500px;
}

.engagement .background{
	height: 400px;
 	background: linear-gradient(to right, yellow, orange, red, orange, yellow); 
}


.engagement .content h3, .engagement .content p{
	text-align: center;
	color: white;
}

.engagement .content h3{
	font-size: 65px;
}

.engagement .content p{
	font-size: 24px;
}

[class*="chart"] i.fa{

	display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 40px;
   
    

}
